<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<h2>Add a space below:</h2>
  <form action="/new-space" method="post">
    <input type="text" name="name" placeholder="Space name"/>
    <input type="text" name="description" placeholder="Description of space"/>
    <input type="text" name="price" placeholder="Price of space"/>
    <label for="from">From date:
      </label>
    <input type="date" name="from"/>
    <label for="to">To date:
      </label>
      <input type="date" name="to"/>
    <input type="submit" value="Submit" />
  </form>
