<h2>Add a space below:</h2>
  <form action="/new-space" method="post">
    <input type="text" name="name" placeholder="Space name"/>
    <input type="text" name="description" placeholder="Description of space"/>
    <input type="text" name="price" placeholder="Price of space"/>
    <input type="submit" value="Submit" />
  </form>
