<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<img src="clouds-xxl.png">

<h3>Bookings</h3>

<h2>Thank you <%= @user.user_name %></h2>
<p> You have booked <%= @booked_space.name %> </p>
<p>at <%= @booked_space.price %> </p>
<p>for <%= @dates %> </p>
