<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<h2>Availability:</h2>
<p>Available from:</p>
<%=@requested_space.first.from_date%>
<p>Available to:</p>
<%=@requested_space.first.to_date%>
