<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<h2>Availability:</h2>


    <form action="/bookings" method="post">
      <% @date_array.each do |date| %>
      <div>
          <input type="checkbox" name="date" value="<%= date %>">
          <label for="date"><%= date %></label>
        </div>
      <% end %>
      <input type='submit' value='Confirm'/>
      </form>
