<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<img src="/public/clouds-xxl.png" style="width:40px;height:40px;" >

<body style='background-color:rgb(101, 158, 199);' >

<h2 style='font-family:verdana;color:white;'>Availability:</h2>



    <form action="/bookings" method="post">
      <% @date_array.each do |date| %>
      <div style='color:white;margin:5px;font-family:verdana;'>
          <label for="date"><%= date %></label>
          <input type="checkbox" name="date" value="<%= date %>">
        </div>
      <% end %>
      <br>
      <input type='submit' value='Confirm' style='margin: 10px;font-size: 16px;background-color: #66A3D2;color: white;border: 2px solid white;'/>
      </form>
</body>
