<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<form style="text-align: right" action="/add-space">
<input type="submit" value="Add Space" />
</form>


<h2 style="text-align: left">All apartments:</h2>

  <div style="text-align: left">
<ul>
  <% @spaces.each do |space| %>
  <li><%= space.name %>
<ul>
  <li><%= space.description %>
  </li>
    <li><%= space.price %>
    </li>
</ul>
  <form action="/calendar/<%= space.id %>" method="post">
  <input type="submit" value="Request" />
  </form>
  </li>
  <% end %>
</ul>
</div>
