<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<h2>All apartments:</h2>

<form action="/add-space">
<input type="submit" value="Add Space" />
</form>

<ul>
  <% @spaces.each do |space| %>
  <li><%= space.name %>
<ul>
  <li><%= space.description %>
  </li>
    <li><%= space.price %>
    </li>
</ul>
  <form action="/calendar/<%= space.id %>">
  <input type="submit" value="Request" />
  </form>
  </li>
  <% end %>
</ul>
