
h2 {
  margin: 5px 0 0 0;
  text-align: center;
}
body  {
  color: white;
  font-family: verdana;
  font-size: 160%;
  background-color: #66A3D2;
  text-align: center;
}

.button {
  margin: 10px;

}
